@import url('https://fonts.googleapis.com/css?family=Raleway');

.numberCircle {
    border-radius: 25%;
    width: 16px;
    height: 12px;
    padding: 2px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
}

body {
    font-family: 'Raleway', cursive;
}
.menuItem {
    text-decoration: none;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: steelblue;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

/*    ul.topnav li a.active {background-color: darkorange;}*/

ul.topnav li.right {float: right; font-size: 20px}

button {
    background-color: steelblue;
    color: white;
}

#menu a:link {
    color: #4e555b;
    text-decoration: none;
}

/* visited link */
#menu a:visited {
    color: #4e555b;
    text-decoration: none;
}

/* mouse over link */
#menu a:hover {
    color: #4e555b;
    text-decoration: underline;
}

/* selected link */
#menu a:active {
    color: #4e555b;
    text-decoration: none;
}